*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



#cabecalho{
    background-color: #00ffff;   
    
    display: grid;
    place-items: center center;
    
}

#navbar-example2 {
    border-radius: 15px;
    background-color: #00FFA8;
}

#row_cabecalho {

}

